{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h3>Last Articles</h3>
    <hr>
    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                {{ post.content }}
                <div class="text-muted">
                    ─ {{ post.author }} | {{ post.createdAt|date('Y-m-d') }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="row mb-3">
        <div>Charlotte</div>
    </div>
    <div class="row">
        <h3>Top Articles</h3>
        <hr>
        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    {{ post.content }}
                    <div class="text-muted">
                        ─ {{ post.author }} | {{ post.createdAt|date('Y-m-d') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
