{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for flashError in app.flashes('email_verified') %}
        <div class="alert alert-success" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="col-md-8">
    <h3>Last Articles</h3>
    <hr>
    {% for post in posts %}
        <a href="{{ path("post_show", {'id': post.id}) }}" class="custom-card">
            <div class="card mb-2">
                <div class="card-body">
                    {{ post.title }}
                    <div class="text-muted">
                        ─ {{ post.author }} | {{ post.createdAt|date('Y-m-d') }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
    <div class="col-md-4 bg-light p-3">
        <div class="row mb-3">
            <div class="col-9">{{ app.user.username }}</div>
            <a class="col-3 btn btn-dark" href="{{ path('app_logout') }}">Logout</a>
        </div>
        <div class="row">
            <h3>Top Articles</h3>
            <hr>
            {% for post in posts %}
                <a href="{{ path("post_show", {'id': post.id}) }}" class="custom-card mb-2">
                    <div class="card">
                        <div class="card-body">
                            {{ post.title }}
                            <div class="text-muted">
                                ─ {{ post.author }} | {{ post.createdAt|date('Y-m-d') }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
