{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<div class="col-md-8">
    <div class="d-flex justify-content-between mb-3">
        <h3>All posts</h3>
        <a class="btn btn-pink" id="addButton">Add</a>
    </div>

    <div class="bg-light p-3 d-none mb-3" id="addForm">
        {% include 'post/new.html.twig' %}
    </div>

    <div class="row">
        {% for post in posts %}
            <div class="col-md-4">
                <a href="{{ path("post_show", {'id': post.id}) }}" class="custom-card">
                    <div class="card">
                        <div class="card-body">
                            {{ post.content|raw }}
                            <div class="text-muted">
                                ─ {{ post.author }} | {{ post.createdAt|date('Y-m-d') }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
    <div class="col-md-4 bg-light p-3">
        <div class="row mb-3">
            <div>Charlotte</div>
        </div>
        <div class="row">
            <h3>Top Articles</h3>
            <hr>
            {% for post in posts %}
                <a href="{{ path("post_show", {'id': post.id}) }}" class="custom-card">
                    <div class="card">
                        <div class="card-body">
                            {{ post.content }}
                            <div class="text-muted">
                                ─ {{ post.author }} | {{ post.createdAt|date('Y-m-d') }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelector('#addButton').addEventListener('click', () => {
            const form = document.querySelector('#addForm');
            if(form.classList.contains('d-none')){
                form.classList.remove('d-none');
                form.classList.add('d-block');
            } else {
                form.classList.add('d-none');
                form.classList.remove('d-block');
            }
        })
    </script>
{% endblock %}
